<page-navbar></page-navbar>

<page-title [title]="title" [subTitle]="subTitle" [isLoadingVisible]="isLoadingVisible"></page-title>

<div class="row">

    <div class="col-xs-20 col-sm-7 col-md-7 col-lg-7">
        <div class="navbar-left">
            <h4>Accounts List</h4>
        </div>

        <div class="navbar-right">
            <button  (click)="ShowAddAccount()" class="btn btn-link">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i> add new account
            </button>
            <button  (click)="getUsers()" class="btn btn-link">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> refresh
            </button>
        </div>

        <br>

        <input type="text" class="form-control">

        <br>

        <table class="table table-hover table-condensed">
            <tbody>
            <tr *ngFor="let account of accounts, let i=index"
                (click)="getUser(account)">
                <td [ngClass]="{'active': i == selectedRow, 'clickable': true}">
                    {{ account.email }}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <ul  class="pagination">
                <li [ngClass]="{disabled:page === 1}">
                    <a (click)="getUsers(1)">First</a>
                </li>
                <li [ngClass]="{disabled:page === 1}">
                    <a (click)="getUsers(page - 1)">Previous</a>
                </li>
                <li *ngFor="let pageNumber of pagesArray" [ngClass]="{active:page === pageNumber}">
                    <a (click)="getUsers(pageNumber)">{{pageNumber}}</a>
                </li>
                <li [ngClass]="{disabled:page === pages}">
                    <a (click)="getUsers(page + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:page === pages}">
                    <a (click)="getUsers(pages)">Last</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-md-5 col-sm-5 col-lg-5">

        <div *ngIf="accountDetailVisible" id="DivDetails" [focus]="myFocusTriggeringEventEmitter">
            <!--<h4>Account Details</h4>-->
            <br>
            <div class="text-center row">
                <img [src]='accountDetail._avatar' class="avatar">
                <br>
                <p>
                    {{accountDetail.email}}
                </p>
            </div>
            <br>
            <!--<p>e-mail:-->
            <!--{{accountDetail.email}}</p>-->
            <p>created at:
                {{accountDetail._created_at | date: 'dd/MM/yyyy hh:mm'}}
            </p>
            <p>total of valid tokens: 5
            </p>
            <p>groups that account belongs to:
            </p>
            <ul>
                <li>admin</li>
                <li>geral</li>
            </ul>
            <br>
            <div class="text-center row">
                <button [disabled]="accountDetail.email == empty" (click)="deleteUser(accountDetail)" type="button" class="btn btn-link">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete this account
                </button>
            </div>
        </div>

        <div *ngIf="accountAddVisible">
            <h4>Add Account</h4>
            <form [formGroup]="form" (ngSubmit)="Save()">
                <fieldset>
                    <div class="form-group">
                        <label class="sr-only">e-mail:</label>
                        <input [(ngModel)]="accountDetail.email" #email [focus]="myFocusTriggeringEventEmitter" placeholder="e-mail" formControlName="email" type="text" class="form-control">
                        <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
                            Please type a valid email.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">password:</label>
                        <input [(ngModel)]="accountDetail.password" formControlName="password" placeholder="password" type="password" class="form-control">
                    </div>
                </fieldset>
                <div class="text-center row">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-link">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add
                    </button>
                    <button (click)="Cancel()" type="cancel" class="btn btn-link">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>
