.clickable {
    cursor: pointer;
}

.body-paddind {
    padding-top: 50px;
}

.page-title-height {
    height: 100px;
    padding-bottom: 65px;
}

.avatar  {
    /* make a square container */
    width: 90px;
    height: 90px;
    /* center the image vertically and horizontally */
    background-position: center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    padding:10px;
}

/* top content, visible on every page */
@media screen and (max-width: 1199px) {
    div[class*="col-lg-"] .top-content {
        text-align: center;
    }
}

.top-content {
    text-align: right;
    margin-bottom: 0px;
    /* dashboard only */
    /* every page except dashboard */
}
.top-content ul.mini-stat {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-bottom: 0;
}
@media screen and (max-width: 992px) {
    .top-content ul.mini-stat {
        display: block;
    }
}
.top-content ul.mini-stat > li {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
}
.top-content ul.mini-stat > li:first-child {
    border-left: none;
}
@media screen and (max-width: 992px) {
    .top-content ul.mini-stat > li {
        width: 100%;
        border-left: none;
        padding-bottom: 15px;
    }
}
@media screen and (min-width: 992px) {
    .top-content ul.mini-stat > li {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.top-content ul.mini-stat h5 {
    float: left;
    margin: 0;
    text-align: left;
    font-size: 0.85em;
    color: #888888;
}
.top-content ul.mini-stat h5 .stat-value {
    display: block;
    font-size: 1.5em;
    margin-top: 3px;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-seagreen {
    color: #3F7577;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-blue {
    color: #1D92AF;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-orange {
    color: #CE7B11;
}
.top-content .mini-bar-chart {
    display: block;
    float: right;
    margin: 6px 0 0 20px;
}
.top-content ul.quick-access {
    margin-bottom: 0;
}
.top-content ul.quick-access > li {
    width: 15em;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .top-content ul.quick-access > li {
        width: 100%;
    }
}
.top-content ul.quick-access > li a, .top-content ul.quick-access > li a:focus, .top-content ul.quick-access > li a:hover {
    text-decoration: none;
}
.top-content ul.quick-access > li .quick-access-item {
    display: block;
    position: relative;
    background-color: #555;
    color: #fff;
    padding: 15px;
    text-align: left;
    overflow: hidden;
}
.top-content ul.quick-access > li .quick-access-item h5, .top-content ul.quick-access > li .quick-access-item p {
    margin: 0;
}
.top-content ul.quick-access > li .quick-access-item em {
    font-size: 0.85em;
}
.top-content ul.quick-access > li .quick-access-item i {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    position: absolute;
    top: 0.15em;
    right: -0.1em;
    font-size: 5em;
}
.top-content ul.quick-access > li .quick-access-item:hover i {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.top-content ul.quick-access > li .quick-access-item.bg-color-green {
    background-color: #859419;
}
.top-content ul.quick-access > li .quick-access-item.bg-color-blue {
    background-color: #1D92AF;
}
.top-content ul.quick-access > li .quick-access-item.bg-color-orange {
    background-color: #CE7B11;
}
